
.quote{
    background-image: url('../Components/images/fon_3.jpg');
}

@font-face { 
    font-family: "FuturaBold";
    src: url("../fonts/FuturaBold/FuturaBold.eot");
    src: url("../fonts/FuturaBold/FuturaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FuturaBold/FuturaBold.woff") format("woff"),
    url("../fonts/FuturaBold/FuturaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

.table {
    margin-top : 0.5%
}

.deposit {
    background-image: url('../Components/images/deposit.svg');
    height: 169px;
    width: 290px;
    margin: left;
}

.credit {
    background-image: url('../Components/images/credit.svg');
    height: 169px;
    width: 290px;
    margin: left;
}

.debit {
    background-image: url('../Components/images/debit.svg');
    height: 169px;
    width: 290px;
    margin: left;
}

.text {
    text-align: left;
    color: #777575;
    line-height: 2.5;
}

.text1 {
    text-align: left;
    color: #777575;
    line-height: normal;
    margin: 15%;
}